$azulM:#2308d0;
$azulS:#04c5da;
$azulIcon:#0c1d87;
$lemon:#AAF200;

@mixin bcolor($color){
  background-color: $color !important;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body{
  width: 100%;
  padding: 0;
  margin:0;
  height: 100%;
}
/* START STYLE HEADER "INDEX" "CART" */
nav{
  @include bcolor($azulS);
  height: 70px !important;
}

.siskos-logo{
  height: 60px;
  margin-left: 70px;
}

#items-menu{
  position: absolute;
  right: 0;
}
#login{
  width: 180px !important;
}
.nav-wrapper{

  ul{
    li{
      border-radius: 5px !important;
      @include bcolor(#ffffff);
      color: $azulS;
      margin-top: 15px;
      margin-right: 20px;
      width: auto;
      max-width: 250px;

      a{
        color: $azulS;
        float: left;
        &:hover{
          @include bcolor(white);
        }
      }
      p{
        margin: 0;
        float: inherit;
      }
      &:hover{
        @include bcolor(white);
        height: 100%;

      }

      #dropdown1 , #dropdown2{
        @include bcolor(white);
        z-index: 10;
        -webkit-transition:height 1s ease;
        -moz-transition:height 1s ease;
        -o-transition:height 1s ease;
        transition:height  1s ease;
        input{
          border: 1px $azulS solid;
          border-radius:4px;
          margin: 1px 0px;
        }
        button{
          @include bcolor($azulS);
          color: white;
          margin-bottom: 8px;
        }
      }
    }
  }
}
#dropdown3{
  margin-top: 40px;
  li {
    float: left;
    width: 100%;
    border: 1px $azulS solid;
    border-radius: 0px !important;
    margin-bottom: 10px;

    a{
      color: $azulS;
      width: 100%;
      &:hover{
        color:white;
        @include bcolor($azulS);

      }
    }

  }

}
.div-option{
  height: 36px;
  width: 36px;
  margin-right: 0px;
  float: left;
}

.icono-silueta{
  height: 20px;
  margin-top: 6px;
  color: $azulS !important;
}
/* END HEADER*/
/* START STYLE CONTENT "INDEX"  */
#content{
  width: 100%;
  margin-top: 4px;
  background-image: url(../../img/index/fondo_index.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  margin-bottom: 0;
  #panel-servicios{
    padding-top: 80px;
    width: 100%;
    height: 100%;
    ul{
      li{
        cursor:pointer;
        margin-right: 10px;
        &:hover{
          cursor:pointer;
        }

        p{
          color: white;
          background-color: $azulIcon;
          width: 140px;
          height: 140px;
          border-radius: 50%;
          padding-top: 30px;
          img{
            width: 40px;
            margin-top: 8px;
          }
          .hvr-radial-out:before{
            background-color: white;
            color: $azulIcon;
          }
        }


      }
    }
  }
  #panel-promociones{
    cursor:pointer;
    text-align: justify;
    background-color: rgba(0,51,102,0.6);
    border-radius: 20px;
    overflow: hidden;
    height: 200px;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    transition: transform 0.5s ease;
    &:hover{
      -webkit-transform: scale(1.20);
      -moz-transform: scale(1.20);
      -o-transform: scale(1.20);
      transform: scale(1.20);

    }
    h2{
      font-size: 18px;
      color:white;
    }
    p{
      color:$lemon;
      img{
        width: 250px;
        position: relative;
        float: right;
      }
    }

  }
}
/*END STYLE CONTENT INDEX*/
/* START FOOTER HEADER "INDEX" "CART" */
footer{
  margin-top: 0 !important;
  @include bcolor($azulM);
  height: 100%;
  box-sizing: border-box;
  .container{

    li{
      text-align: center;
      cursor:pointer;
      img{
        width: 32px;

      }
    }
  }
  border-top:2px solid white;
  color: white;
  width: 100%;
}
/*END FOOTER*/
.line-white{
  background-color: white;
  height: 1px;
}

/* START STYLE CONTENT  "CART" */

#cart-content{
  width: 100%;
  margin-top: 4px;
  background-image: url(../../img/index/fondo_index.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  margin-bottom: 0;
  min-height: 700px;

  #title-cart{
    color: white;
    margin-left: 10%;
    padding-top: 15px;
    font-size: 30px;
    margin-top: 0;
  }
  #cart-products{
    li{
      margin-left: 25px;
      float: left;
      width: 100%;
      .img-product{
        background-color: rgba(255,255,255,0.4);
        height: 100px;
        width: 100px;
      }
      .description-product{
        background-color: rgba(255,255,255,0.4);
        height: 100px;
        margin-left: 15px;
      }
      p{
        margin: 0;
        margin-top: 0px;
        text-align: center;
        color: white;
      }
      .price-product ,  .amount-product{
        text-align: center;
        background-color: rgba(255,255,255,0.4);
        height: 30px;
        color: black;

      }
      .amount-price{
        margin-top: -20px;
      }

    }
    .btn-del{
      float: left;
      @include bcolor(transparent);
      box-shadow: none;
      color: white;
      border: none;
      margin-left: 25px;
      margin-bottom: 20px;
    }

  }
  #subtotal-cart{
    margin-top: -20px;
    h2{
      margin: 0px 70px;
      color: white;
      font-size: 18px;

    }
    #panel-subtotal{
      height: 200px;
      background-color: rgba(255,255,255,0.4);

      p{
        text-align: center;
      }
      #total{
        font-size: 38px;
        margin: 4px;
      }
      #total-products{
        font-size: 20px;
      }
      #btn-enviar{
        height: 20px;
        margin-top: 50px;
        line-height: 0px;
        background-color: white;
        color:$azulS
      }

    }

  }
}

