$azulM: #2308d0;
$azulS: #04c5da;
$azulIcon: #0c1d87;
$lemon: #AAF200;
$images: ("taza", "#8c2420") ("boligrafo", "#bea413") ("mechero", "#393185");

@font-face {
  font-family: siskos;
  src: url("../fonts/Candara.ttf");
}

@mixin bcolor($color) {
  background-color: $color !important;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

nav {
  @include bcolor($azulS);
  height: 70px !important;
}

.siskos-logo {
  height: 60px;
  margin-left: 70px;
}

.nav-wrapper {
  ul {
    li {
      border-radius: 5px !important;
      @include bcolor(#ffffff);
      color: $azulS;
      margin-top: 15px;
      margin-right: 20px;
      p {
        margin: 0;
        float: inherit;
      }
    }
  }
}

.div-option {
  height: 36px;
  width: 36px;
  margin-right: 0px;
  float: left;
}

.icono-silueta {
  height: 20px;
  margin-top: 6px;
  color: $azulS !important;
}

#content {
  width: 100%;
  margin-top: 4px;
  background-image: url(/assets/index/fondo_index.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  margin-bottom: 0;

}

footer {
  margin-top: 0 !important;
  @include bcolor($azulM);
  height: 100%;
  box-sizing: border-box;
  .container {

    li {
      text-align: center;
      cursor: pointer;
      img {
        width: 32px;

      }
    }
  }
  border-top: 2px solid white;
  color: white;
  width: 100%;
}

.line-white {
  background-color: white;
  height: 1px;
}

@each $image, $color in $images {
  .div-promotion-#{$image} {
    margin-top: 5%;
    margin-bottom: 5%;
    background-image: url("/assets/promotions/#{$image}.png");
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
  }
}

#content {
  a {
    font-family: siskos;
    color: #ffffff;
    @include bcolor(red);
    bottom: 0;
    width: 100%;
    position: absolute;
    right: 0;
    border-radius: 0;
  }
}

@each $promotion, $color in $images {
  .price-promotion-#{$promotion} {
    @include bcolor(#{$color});
    color: #ffffff;
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 3em;
    right: 0;
  }

  .hover-content-#{$promotion} {
    display: none;
    text-align: center;
    p {
      margin-top: 100%;
    }
  }
}
.button_to{
  min-width: 150px;height:36px;
  button[type="submit"]{
    background-color:transparent;
    border:none;
    &:hover{
      background-color:white;
    }
  }
}
#items-menu{
  position: absolute;
  right: 0;
}
#login{
  width: 180px !important;
}
.nav-wrapper{

  ul{
    li{
      border-radius: 5px !important;
      @include bcolor(#ffffff);
      color: $azulS;
      margin-top: 15px;
      margin-right: 20px;
      width: auto;
      max-width: 250px;

      a{
        color: $azulS;
        float: left;
        &:hover{
          @include bcolor(white);
        }
      }
      p{
        margin: 0;
        float: inherit;
      }
      &:hover{
        @include bcolor(white);
        height: 100%;

      }

      #dropdown1 , #dropdown2{
        @include bcolor(white);
        z-index: 10;
        -webkit-transition:height 1s ease;
        -moz-transition:height 1s ease;
        -o-transition:height 1s ease;
        transition:height  1s ease;
        input{
          border: 1px $azulS solid;
          border-radius:4px;
          margin: 1px 0px;
        }
        button{
          @include bcolor($azulS);
          color: white;
          margin-bottom: 8px;
        }
      }
    }
  }
}
#dropdown3{
  margin-top: 40px;
  li {
    float: left;
    width: 100%;
    border: 1px $azulS solid;
    border-radius: 0px !important;
    margin-bottom: 10px;

    a{
      color: $azulS;
      width: 100%;
      &:hover{
        color:white;
        @include bcolor($azulS);

      }
    }

  }

}
